.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #e6ecf0;
  border-radius: 20px;
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #1da1f2;
  font-weight: bold;
}

input {
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  background-color: #b5adad;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  width: 50%;
  margin-top: 20px;
}

input[name="email"] {
  font-size: 18px;
  margin-bottom: 10px;
}

input[name="password"] {
  margin-top: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  background-color: #1da1f2;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  width: 50%;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #0c85d0;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}
