.contact-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    height: 80px;
    padding: 0 10px;
  }
  
  .contact-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8bc34a;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
  .contact-icon {
    color: white;
    font-size: 24px;
  }
  
  .contact-info-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .contact-name {
    font-size: 20px;
    font-weight: bold;
  }
  
  .contact-number {
    font-size: 16px;
  }
  
  .contact-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .contact-link:hover {
    text-decoration: underline;
  }
  