 .safety-container {
    padding: 50px 0;
  }
  
  .disaster-card {
    height: 100%;
  }
  

  .disaster-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  
  @media (min-width: 768px) {
    .disaster-img {
      max-height: 38px;
    }
  }
  
  