.messages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  background-color: #f5f8fa;
}

.messages {
  width: 600px;
  max-height: 500px;
  overflow-y: scroll;
  border: none;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.1);
}

.messages::-webkit-scrollbar {
  width: 8px;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #1da1f2;
  border-radius: 4px;
}

.messages::-webkit-scrollbar-track {
  background-color: #f5f8fa;
}
